<a href="https://colab.research.google.com/github/YunjiSon/2022spring/blob/main/%EC%97%B0%EC%8A%B5%EB%B0%8F%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 변수 -variable (string/numbers)
2. 문법 (조건 if/ 반복 for) -syntax
3. 함수 - function
4. 패키지 (library) -package >import
-numpy : 행렬화, 구조화 할때 쓰는 숫자
-pandas: 엑셀처리하는 거
-matplotlib 
-seaborn: 비주얼라이징 해줌
-scikit-learn: 머신러닝
-requests: 웹상에서 리퀘스트 하는 것
-urllib3: url 쓰는거. 크롤링할 때 얘랑 위에랑 중요함
-NLTK: 텍스트처리하는 그런거
-pillow: 이미지 불러오고 처리하는 거
-libross: sound 입출력하는 그런거

words는 문자랑 의미(contents)를 가지고 있어야함. 
programing lang도 variables이랑 내용이 잇음. 
이 word 조합하는 방식 syntax. (조건문, 반복문)

셀을 잘 나누는 것도 능력임

In [ ]:
 a = 1; print(type(a)) ; print(a)

<class 'int'>
1

In [ ]:
b = 2 #int 즉, 정수라는 뜻. 
b

In [ ]:
a = 1.1; print(type(a)) #float는 실수 1.0 적어도 float로 나옴

<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1]) #왼쪽에 나중에 shape에 글자 갯수도 뜸.

<class 'str'>
2

In [4]:
a = [1,2,3,4]; print(type(a)); print(a[0]) #리스트는 대괄호에 넣어야함.

<class 'list'>
1

In [2]:
a = [1, 'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])
print(a[2][1]) #리스트는 무조건 0번째부터 시작함
#a 리스트의 아이템은 숫자, 문자, 리스트로 구성되어 있음.

<class 'list'>
1
a
[3, '4']
4

In [6]:
a[1:3] #뒤에 들어가는 숫자는 포함하지 않음. 즉, a=[1,2,3,4]에서 a[1:2]하면 2는 잡히지 않음. 즉 a[1]이랑 같은것.

[2, 3]

In [7]:
a[:] #이렇게 하면 전체 다 나옴. 그리고 [2:]하면 2번째부터 끝까지 나옴.

[1, 2, 3, 4]

In [9]:
a[1:-1] #이렇게 하면 끝에서 하나 전것까지 나옴. 왜냐하면 첫번째거를 기준으로 다시 뒤쪽은 -1이 되니까
그니까 [1,2,3,4] 있으면 4가 -1이 되고 그런거임.

[2, 3]

In [10]:
a = [1, 'a', [1,'b']]

In [21]:
print(a[2][1]) #두번째(리스트)의 1번째 
print(a[1][0])
a[1][0]

b
a

'a'

In [25]:
a='abcdef123' #인덱싱하는 방법. 
a[3:-1]

'def12'

In [27]:
print(type(a[3:-1]))

<class 'str'>

list와 tuple은 거의 똑같음. 표현이 a=(1,2,3) 일 뿐

In [29]:
a=[1,2,3]

In [30]:
a[1] = 0 #a의 1번째를 0으로 바꿈.

In [31]:
print(a)

[1, 0, 3]

근데 위 같은 상황에서 tuple은 item을 바꿀 수 없음.

In [32]:
print(a[1]+a[2])

3

In [33]:
a = {"a": "apple", "b": "orange", "c": 2014} #quote안하는 건 그냥 변수로 처리되는 거라 안됨.
#키에 숫자가 오는 건 상관 없음.
#리스트는 나열. dictionary는 키와 value로 구성되어있음.

In [35]:
a["a"] #string으로 single quote로 해도 상관 없음.

'apple'

In [37]:
print(type(a)); print(a["b"])

<class 'dict'>
orange