<a href="https://colab.research.google.com/github/YunjiSon/2022spring/blob/main/%EC%97%B0%EC%8A%B5%EB%B0%8F%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 변수 -variable (string/numbers)
2. 문법 (조건 if/ 반복 for) -syntax
3. 함수 - function
4. 패키지 (library) -package >import
-numpy : 행렬화, 구조화 할때 쓰는 숫자
-pandas: 엑셀처리하는 거
-matplotlib 
-seaborn: 비주얼라이징 해줌
-scikit-learn: 머신러닝
-requests: 웹상에서 리퀘스트 하는 것
-urllib3: url 쓰는거. 크롤링할 때 얘랑 위에랑 중요함
-NLTK: 텍스트처리하는 그런거
-pillow: 이미지 불러오고 처리하는 거
-libross: sound 입출력하는 그런거

words는 문자랑 의미(contents)를 가지고 있어야함. 
programing lang도 variables이랑 내용이 잇음. 
이 word 조합하는 방식 syntax. (조건문, 반복문)

셀을 잘 나누는 것도 능력임

In [2]:
 a = 1; print(type(a)) ; print(a)

<class 'int'>
1

In [ ]:
b = 2 #int 즉, 정수라는 뜻. 
b

In [18]:
a = 1.1; print(type(a)) #float는 실수 1.0 적어도 float로 나옴

<class 'float'>

In [19]:
a = '123'; print(type(a)); print(a[1]) #왼쪽에 나중에 shape에 글자 갯수도 뜸.

<class 'str'>
2

In [24]:
a = [1,2,3,4]; print(type(a)); print(a[0]) #리스트는 대괄호에 넣어야함.

<class 'list'>
1

In [25]:
a = [1, 'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])
print(a[2][1]) #리스트는 무조건 0번째부터 시작함

<class 'list'>
1
a
[3, '4']
4